---
layout: base
---


<section class="box-content box-2 box-style-1" id="services">
<div class="container">
	<div class="heading">
		<h2>
			<span class="hr">甜点</span>
		</h2>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="item-container">
				<a href="#">
					<div class="item-caption">
						<div class="item-caption-inner">
							<div class="item-caption-inner1">
								<h3>$45</h3>
								<span>Only</span>
							</div>
						</div>
					</div>
					<img src="images/menu-1.jpg" />
				</a>
			</div>
		</div>
	</div>
</div>
</section>




<section class="box-content box-3 box-style-3">
<div class="container">
	<div class="heading">
		<h2>
			<span class="hr" style="color: #fff;">厨师</span>
		</h2>
	</div>
	<div class="row">
		<div id="owl-brand" class="owl-carousel">
			<div class="item text-center">
			<img src="{{post.nameurl}}" class="img-circle" />
				<p>{{post.title}}</p>
				<span>{{post.author}}</span>
			</div>
 		</div>
 	</div>
</div>
</section>


<div id="page-content">
<div id="main-content">
<div class="container">
<article>
	<div class="heading">
		<h2>
			<span class="hr">博客</span>
		</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="clearfix box-archive">
				<div class="col-md-6">
					<img src="images/menu-1.jpg"/>
				</div>				
				<div class="col-md-6">
					<div class="wrapper">
						<h3>冰淇淋蛋糕</h3>
						<p>(你们懂得...)抓住一个人的心首先要抓住她的胃办公室生存法则新技能草莓蛋糕了解一下草莓季一眨眼就过去了再不吃就来不及啦草...</p>
						<a class="btn btn-1" href="#">阅读更多<</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</article>
</div>
</div>
</div>


