---
layout: base
---


<section class="box-content box-2 box-style-1" id="services">
<div class="container">
	<div class="heading">
		<h2>
			<span class="hr">甜点</span>
		</h2>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="item-container">
				<a href="#">
					<div class="item-caption">
						<div class="item-caption-inner">
							<div class="item-caption-inner1">
								<h3>$45</h3>
								<span>Only</span>
							</div>
						</div>
					</div>
					<img src="images/menu-1.jpg" />
				</a>
			</div>
		</div>
	</div>
</div>
</section>



<div id="page-content">
<div id="main-content">
<div class="container">
<article>
	<div class="heading">
		<h2>
			<span class="hr">博客</span>
		</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="clearfix box-archive">
				<div class="col-md-6">
					<img src="images/menu-1.jpg"/>
				</div>				
				<div class="col-md-6">
					<div class="wrapper">
						<h3>{{post.title}}</h3>
						<p>{{post.wenz}}</p>
						<a class="btn btn-1" href="#">阅读更多<</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</article>
</div>
</div>
</div>

{{content}}
	<center>
  	<div style="height: 50px">
          {% if page.previous %}
            <a style="border: 1px solid #000;border-radius:5px;background:brown;color:#ff4800;padding: 8px;margin:10px" href="{{site.baseurl}}{{page.previous.url}}">上一篇： {{page.previous.title}}</a>
          {% endif %}
          {% if page.next %}
            <a style="border: 1px solid #000;border-radius:5px;background:brown;color:#ff4800;padding: 8px;margin: 10px;margin-left:50px" href="{{site.baseurl}}{{page.next.url}}">下一篇： {{page.next.title}}</a>
          {% endif %}
          
        </div>
    </center>


